<h1>Hellow World</h1>
<label for="username">Username</label>
<input type="text" [(ngModel)]="username" (ngModelChange)="onUsernameChange($event)" name="username">
<p *ngIf="username; else noUserName" >{{username}}</p>
<ng-template #noUserName>
	<p>Username empty</p>
</ng-template>
<p [ngStyle]="{'background-color': getColor()}" [ngClass]="{white:username, blue: username===''}">Your button is diabled</p>
<button class="btn btn-primary" [disabled]="userButtonStatus" (click)="onButtonReset($event)">Click here</button>
<p *ngFor="let server of servers">{{server}}</p>